.DS_Store
cases_by_age/.DS_Store
cases_by_date/.DS_Store
cases_by_outcome/.DS_Store
cases_by_sex/.DS_Store
cases_by_zipcode/.DS_Store
deaths_by_date/.DS_Store
deaths_by_sex_age/.DS_Store
deaths_by_zipcode/.DS_Store
.Rproj.user
.Rhistory
